body {
    background-color: blanchedalmond;
}

.main {
    text-align: center;   
}

.main h1 {
    color: rgb(252, 36, 85);
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.list li {
    position: relative;
    margin: 0 10px;
    right: 20px;
}

.main-page-txt {
    color: rgb(144, 36, 255);
}
